@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

$border-color: #b3b3b3;
$primary-color: #747474;
$secondary-color: #000;
$tertiary-color: #fab49b;
$layout-color: #fff;
$icon-color: #676767;
$hover-color: #444444;
$primary-font: Georgia, sans-serif;
$secondary-font: 'Open Sans', sans-serif ;